.text{
	text-decoration: none;
	margin-left: 15%;
	font-family: Verdana,Geneva,sans-serif; 
	font-size: 14pt;
	color: black;
}

html {
  background: url(14.jpg) no-repeat center center fixed;
  height: 100%;
  background-size: cover;
    overflow: hidden;
  background-color: #ffffff;
}
