body{
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/97/71/af/9771af6a324ac7fac6dd7b1aa859a5a3.jpg');
  background-size:cover;
}
#wrapper{
  height: 100vh;
  width: 100vw;
  perspective: 1200;
  perspective-origin: 50% 20%;
  transform-style: preserve-3d;
  transition: all 0.1s;
  .card{
    position: absolute;
    width: 180px;
    height: 180px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    background-color: #000000;
    margin: 10px;
    //padding: 10px;
    transition: all 1s;
    border:4px solid #FFF;
    //backface-visibility: hidden;
    img{
      width: 100%;
      display: block;
    }
    &.active{
      width:300px;
      height:300px;
      top: calc(50% - 160px);
      left: calc(50% - 160px);
    }
  } 
}

button{
  position:fixed;
  top:0;
  height:100%;
  width: 200px;
  background: rgba(255,255,255, 0.3);
  border: none;
  color:#fff;
  font-size:3em;
  outline: none;
  cursor: pointer;
  &:hover{
    background: rgba(255,255,255, 0.5);
  }
}
.next{
  right:0;
}
.prev{
  left:0;
}

